footer {
  padding: 1.5em 2.5em;
  display: flex;
  gap: 1em;
  img {
    border-radius: 50%;
    width: 4.5em;
    min-width: 4.5em;
  }
  .Share-button {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    .btn {
      align-self: center;
      border-radius: 50%;
      border: none;
      width: 2.5em;
      height: 2.5em;
    }
  }
  p {
    min-width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.2em;
    .name {
      font-weight: $fw-bold;
      color: $color-dark-blue;
    }
    .date {
      font-weight: $fw-medium;
      color: $color-dark-blue;
    }
  }
}
