footer {
  padding: 1.5em 2.5em;
  display: flex;
  gap: 1em;
  img {
    border-radius: 50%;
    width: 4.5em;
    min-width: 4.5em;
  }
  .Share-button {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    .btn {
      align-self: center;
      border-radius: 50%;
      border: none;
      width: 2.5em;
      height: 2.5em;
      cursor: pointer;
      transition: 0.5s background-color ease-in-out;
      &:hover {
        background-color: $color-desaturated-blue;
        transition: 0.5s background-color ease-in-out;
        svg path {
          fill: white !important;
        }
      }
      @media (min-width: 700px) {
        width: 3em;
        height: 3em;
      }
    }
  }
  p {
    min-width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.2em;
    .name {
      font-weight: $fw-bold;
      color: $color-dark-blue;
    }
    .date {
      font-weight: $fw-medium;
      color: $color-dark-blue;
    }
  }
}
.hidden {
  display: none;
}
