main {
  padding: 2.5em;
  h2 {
    font-weight: $fw-bold;
    color: $color-dark-blue;
  }
  p {
    color: $color-desaturated-blue;
    font-size: 1.2em;
    font-weight: $fw-medium;
    padding-top: 1em;
  }
}
